.subheader {
    background: url('images/Untitled design.svg');
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: -80px;
}

.subheader .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #00000069 10%, #093a106b 100%);
}

.pagetitle {
    margin-top: 112px;
    font-family: 'Montserrat-SemiBold', cursive;
    font-size: 70px;
    margin-bottom: 30px;
}

h3,
p {
    font-family: Montserrat-Regular;
    margin-bottom: 20px;
}

button {
    border: 2px solid #23D07E;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    background: transparent;
    margin-bottom: -12px;
    box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover {
    background: #23D07E;
}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('fonts/montserrat/Montserrat-Regular.ttf');
}

#container {
    height: 100%;
    width: 100%;
    align-items: center;
}

a {
    text-decoration: none;
}

.padding20 {
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

nav {
    text-align: center;
}

body {
    background-size: cover;
    background-color: white;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

#contact {
    background-size: cover;
    width: 100%;
    height: auto;
}

#contact h1 {
    margin-bottom: 48px;
    margin-top: 95px;
    color: white;
}

.h3contact {
    font-weight: 10;
    margin-bottom: 40px;
    font-size: 20px !important;
    color: #fff;
}

#contact h4 {
    color: white;
}

.blue {
    width: 570px;
    padding: 30px;
    border-radius: 25px;
    margin-top: 87px !important;
    margin-bottom: 93px !important;
    height: 530px;
}

#contact p {
    margin-bottom: 44px;
    margin-top: 11px;
    color: white;
}

.formulaire {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 4px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s;
    font-family: Montserrat-Regular!important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-top: 27px !important;
    border: none;
}

.formulaire1 {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 50px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s;
    font-family: Montserrat-Regular !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-top: 27px !important;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    color: white;
}

.btnnn-form {
    width: 220px;
    text-decoration: none;
    background-color: #23D07E;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #23D07E;
    border: radius 5px;
    margin-top: 57px;
    margin-right: 20px;
    margin-left: 137px;
    border-radius: 37px;
    font-size: 14px;
    font-family: Montserrat-Regular;
}

.btnnn-form:hover {
    background-color: rgba(49, 48, 48, 0.2);
    color: #23D07E;
}

.contact-container {
    padding: 25px;
    display: flex;
    flex-direction: row;
    background-color: #212529;
    align-items: center;
    margin: 20px 200px;
    border-radius: 20px;
}

.contact-description {
    max-width: 434px;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    border: #23D07E solid 2px;
    color: #fff;
    margin-top: -72px;
    margin-bottom: -44px;
    margin-right: 60px;
    border-radius: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}